{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

      
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">      
      <div class="carousel-inner">
          {% for loop_cycle in self.carousel_images.all %}
              {% image loop_cycle.carousel_image fill-1000x600 as img %}
              <div class="carousel-item {% if forloop.counter == 1%} active{% endif %}">
                  <img src="{{  img.url }}" class="d-block w-100" alt="{{  img.alt  }}">
              </div>
          {% endfor %}          
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>







  {{ page.body|richtext }}

{% endblock %}