body {
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.social{
    height: 75px;
    width: 75px;
}

.icondiv{
    height: 20px ;
    display:flex;
    justify-content: center ;
    align-items: center;

}

.bodyy {
    
    display: grid;
    align-items: center;
    justify-content: center;
}


.footer {
    position:relative;
    margin-top: -180px;
    
    height:180px; 
    clear:both;  

 }