body {
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.social{
    height: 70px;
    width: 70px;
}

.icondiv{
    height: 20px ;
    display:flex;
    justify-content: center ;
    align-items: center;

}


/*.carousel-inner {
    height: 50vh;
    min-height: 400px;
} */