{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <header class="bg-red">
        <div class="mw9 center tc pv4 ph6-l">
        <h3 class="f2 f1-m f-headline-l lh-title">
            <span class=" lh-copy black pa1 b">
                {{ page.title }}
            </span>
        </h3>
        <nav class="f6 fw6 ttu tracked black b">
            <a class="black" href="{{ page.get_parent.url }}" title="Home">Home</a> -
            <span class="black">{{ page.title }}</span>
            </nav>
        </div>
    </header>

    <div class="intro">{{ page.intro|richtext }}</div>
        {% for post in blogpages %}
            <h2>
                <a href="{% pageurl post %}">
                    {{ post.title }}
                </a>
            </h2>
            {{ post.specific.date }}
        {% endfor %}
{% endblock %}