{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %} 

    <header class="bg-red">
        <div class="mw9 center tc pv4 ph6-l">
        <h3 class="f2 f1-m f-headline-l lh-title">
            <span class=" lh-copy black pa1 b">
                {{ page.title }}
            </span>
        </h3>
        <nav class="f6 fw6 ttu tracked black b">
            <a class="black" href="{{ page.get_parent.url }}" title="Home">Home</a> -
            <span class="black">{{ page.title }}</span>
            </nav>
        </div>
    </header>

    <section class="stat-box pt-3">
        <div class="container">
            <div class="row">
                <div class="col mt-4 mx-5">
                    {% with blocks=page.contact_content %}
                        {% for block in blocks %}
                            {% if block.block_type == 'subheading' %}
                                <div class="f4-l f5-m black">
                                    {{block.value}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}           
                </div>
            </div>
        </div>
    </section>

    <p>
        {{ self.intro|richtext }}
    </p>

    <form action="{% pageurl page %}" method="POST">
        {%csrf_token %}
        {{ form.as_ul }}

        <input type="submit">
    </form>
{% endblock %}
